main {
  padding-bottom: 3.125em;
}
.page-nav {
  a {
    i {
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &:hover {
      i {
        transform: translateX(-0.25rem);
      }
    }
  }
}

.container {
  max-width: 63.125rem;
}

.intro {
  padding: 6em 0 0 0;

  .nav-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }
}

.divider {
  opacity: 0.1;
  margin: 3em 0;
}

.content {
  padding: 0 0 6em 0;

  .site {
    display: flex;
    justify-content: center;
    column-gap: 2em;

    img {
      max-width: 31.25rem;
      height: inherit;
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 1em;
      }

      a {
        color: var(--accent-fill);
      }
    }
  }
}

.technology {
  h2 {
    margin-bottom: 0.25em;
  }

  li {
    list-style-type: square;
    margin-inline-start: 1em;
  }
}
