main {
  padding-bottom: 3.125em;

  p {
    font-size: 1.125rem;
  }

  .link {
    color: var(--accent-fill);

    &:hover {
      text-decoration: underline;
    }
  }
}

.page-nav {
  position: static;
  padding: 1em 0 3em 0;
  background-color: transparent;
  a {
    padding: 0;
    color: var(--main-font);
    font-size: 1.25rem;

    i {
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &:hover {
      color: var(--accent-fill);

      i {
        transform: translateX(-0.25rem);
      }
    }
  }
}

.project-intro {
  .project-link {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }
}

.divider {
  opacity: 0.1;
  margin: 3em 0;
}

.container {
  max-width: 65rem;
}

.content {
  padding: 0 0 6em 0;

  .portfolio {
    display: flex;
    column-gap: 2em;

    .image {
      display: flex;
      flex-direction: column;
      max-width: 31.25rem;

      img {
        width: inherit;
        height: inherit;
      }

      span {
        width: 100%;
        text-align: center;
        margin-top: 0.5em;
        font-style: italic;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1em;
      }
    }
  }

  // Edge portfolio styles
  .vertical-tab {
    .image {
      img {
        height: 31.25rem;
        width: inherit;
      }
    }
  }

  .devtool,
  .website {
    .description {
      justify-content: unset;
    }
  }

  // Xbox portfolio styles
  .xbox-process {
    .wrapper {
      display: flex;
      column-gap: 2em;

      .image {
        width: 23.75rem;

        img {
          outline: none;
        }
      }
    }
  }

  .xbox-intro {
    .image {
      max-width: unset;
      margin: 1.25em 0;

      img {
        width: 100%;
      }
    }
  }

  .xbox-iteration {
    column-gap: 4rem;
    .description {
      justify-content: unset;

      .image {
        max-width: unset;
        width: 100%;
        margin: 1.25em 0;
      }

      .home-twist,
      .store-twist {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 1rem;
        margin: 2.5em 0;
        .image {
          width: 31.25rem;
          margin: 0;
        }
        p {
          padding-top: 2em;
        }
      }
    }
  }

  // Save to bookmarks portfolio styles
  .bookmark {
    .image {
      width: 50rem;
      max-width: unset;
      margin: auto;
      padding-top: 2.5em;
    }
  }
}

.technology {
  h2 {
    margin-bottom: 0.25em;
  }

  li {
    list-style-type: square;
    margin-inline-start: 1em;
  }
}
