main {
  padding-bottom: 3.125em;
}
main p {
  font-size: 1.125rem;
}
main .link {
  color: var(--accent-fill);
}
main .link:hover {
  text-decoration: underline;
}

.page-nav {
  position: static;
  padding: 1em 0 3em 0;
  background-color: transparent;
}
.page-nav a {
  padding: 0;
  color: var(--main-font);
  font-size: 1.25rem;
}
.page-nav a i {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.page-nav a:hover {
  color: var(--accent-fill);
}
.page-nav a:hover i {
  transform: translateX(-0.25rem);
}

.project-intro .project-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.divider {
  opacity: 0.1;
  margin: 3em 0;
}

.container {
  max-width: 65rem;
}

.content {
  padding: 0 0 6em 0;
}
.content .portfolio {
  display: flex;
  -moz-column-gap: 2em;
       column-gap: 2em;
}
.content .portfolio .image {
  display: flex;
  flex-direction: column;
  max-width: 31.25rem;
}
.content .portfolio .image img {
  width: inherit;
  height: inherit;
  border-radius: 6px;
}
.content .portfolio .image span {
  width: 100%;
  text-align: center;
  margin-top: 0.5em;
  font-style: italic;
}
.content .portfolio .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content .portfolio .description h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1em;
}
.content .vertical-tab .image img {
  height: 31.25rem;
  width: inherit;
}
.content .devtool .description,
.content .website .description {
  justify-content: unset;
}
.content .xbox-process .wrapper {
  display: flex;
  -moz-column-gap: 2em;
       column-gap: 2em;
}
.content .xbox-process .wrapper .image {
  width: 23.75rem;
}
.content .xbox-process .wrapper .image img {
  outline: none;
}
.content .xbox-intro .image {
  max-width: unset;
  margin: 1.25em 0;
}
.content .xbox-intro .image img {
  width: 100%;
}
.content .xbox-iteration {
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
.content .xbox-iteration .description {
  justify-content: unset;
}
.content .xbox-iteration .description .image {
  max-width: unset;
  width: 100%;
  margin: 1.25em 0;
}
.content .xbox-iteration .description .home-twist,
.content .xbox-iteration .description .store-twist {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin: 2.5em 0;
}
.content .xbox-iteration .description .home-twist .image,
.content .xbox-iteration .description .store-twist .image {
  width: 31.25rem;
  margin: 0;
}
.content .xbox-iteration .description .home-twist p,
.content .xbox-iteration .description .store-twist p {
  padding-top: 2em;
}
.content .bookmark .image {
  width: 50rem;
  max-width: unset;
  margin: auto;
  padding-top: 2.5em;
}
.content .netflix-login .image {
  width: 20rem;
  max-width: unset;
  margin: auto;
  padding-top: 2.5em;
}
.content .netflix-membership .image {
  width: 30rem;
}
.content .netflix-subscription .image {
  width: 25rem;
  justify-content: center;
}
.content .netflix-subscription .description {
  justify-content: flex-start;
}

.technology h2 {
  margin-bottom: 0.25em;
}
.technology li {
  list-style-type: square;
  -webkit-margin-start: 1em;
          margin-inline-start: 1em;
}/*# sourceMappingURL=pages.css.map */