@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap");
/* General Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --light-one: #ffffff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
  --dark-one: #000000;
  --dark-two: #333333;
  --dark-three: #7a7a7a;
  --accent-fill-rest: #3091ff;
  --accent-fill-hover: #2c87ef;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  position: relative;
  z-index: 5;
  max-width: 92rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: 400;
}

.text {
  font-size: 1.0625rem;
  font-weight: 400;
  color: var(--dark-one);
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--dark-one);
  color: var(--light-one);
  border-radius: 0.25rem;
  font-size: 1rem;
}
.btn:hover {
  background-color: var(--accent-fill-hover);
}

.section {
  padding: 6rem 0;
  background-color: var(--light-three);
}

.section-header {
  text-align: left;
  margin-bottom: 1.5rem;
}
.section-header .section-title {
  font-family: "Source Code Pro", monospace;
  font-size: 3rem;
  font-weight: 400;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--dark-one);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* End General Styles */
/* Header Styles */
header {
  width: 100%;
  background-color: var(--light-three);
  overflow: hidden;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  background-color: var(--light-three);
  width: 100%;
  z-index: 50;
  transition: 0.3s;
}
nav .container {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
}
nav .logo {
  display: flex;
  align-items: center;
}

.nav-links ul {
  display: flex;
  align-items: center;
}
.nav-links a {
  display: inline-block;
  padding: 0.9rem 1.2rem;
  color: var(--dark-one);
  font-family: "Source Code Pro", monospace;
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1;
}
.nav-links a.active, .nav-links a:hover {
  color: var(--accent-fill-hover);
}
.nav-links .social-link {
  font-size: 1.5rem;
}

.header-content .grid-2 {
  grid-template-columns: 4fr 2fr;
  min-height: calc(100vh - 6rem);
  padding-bottom: 2.5rem;
  text-align: left;
}
.header-content .column-left {
  margin-right: 1rem;
}
.header-content .column-right {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
}
.header-content .header-title {
  font-family: "Source Code Pro", monospace;
  font-size: 4rem;
  line-height: 0.8;
  font-weight: 400;
}
.header-content .header-subtitle {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 1rem;
}
.header-content .text {
  font-size: 1.25rem;
  margin: 1rem 0;
}
.header-content .img-profile {
  width: initial;
  height: 360px;
  border: 6px solid var(--dark-one);
}

/* End Header Styles */
/* Projects Styles */
.projects-body {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  width: 100%;
  padding: 4rem 0;
}
.projects-body .project-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-wrapper {
  display: flex;
  justify-content: flex-end;
}
.card-wrapper .card {
  position: relative;
  width: 640px;
  height: 300px;
  background-color: var(--light-one);
  overflow: hidden;
  box-shadow: 0 0 2px black;
}
.card-wrapper .card .card-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Projects Styles */
/* Contact Styles */
.contact {
  position: relative;
  width: 100%;
}

.contact-body {
  padding: 4rem 0;
}
.contact-body .grid-2 {
  grid-template-columns: repeat(2, auto);
  align-items: flex-start;
}

.contact-form .input-wrapper {
  display: flex;
  flex-direction: column;
}
.contact-form .input-wrapper label {
  margin-bottom: 0.25rem;
}
.contact-form .contact-input {
  padding: 0.5rem;
  width: 374px;
  height: 36px;
}
.contact-form .textarea {
  height: 204px;
  resize: none;
}
.contact-form .column-left {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-right: 8px;
}
.contact-form .column-right {
  margin-left: 8px;
}
.contact-form .btn-submit {
  border: none;
  outline: none;
  margin-top: 1rem;
  float: right;
  cursor: pointer;
}

/* End Contact Styles */
/* About Styles */
.about-body {
  padding: 4rem 0;
}
.about-body .text {
  margin-bottom: 1rem;
}
.about-body .about-me {
  display: flex;
}
.about-body .about-me p span {
  font-size: 32px;
}
.about-body .img-about {
  width: 325px;
  height: 444px;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}
.about-body .dog-info {
  display: flex;
  margin-top: 1.25rem;
}
.about-body .dog-info .text {
  width: 240px;
}
.about-body .dog-info .img-milo {
  width: 246px;
  height: 159px;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}
.about-body .dog-info .img-lenny {
  width: 183px;
  height: 240px;
  margin: 0 1rem;
}
.about-body .career-info {
  margin-top: 2rem;
}
.about-body .career-info p span {
  font-size: 32px;
}

/* End About Styles */
/* Footer Styles */
.footer {
  position: relative;
  background-color: var(--dark-one);
  height: 300px;
}
.footer .container {
  position: relative;
  height: 100%;
  display: flex;
}
.footer .container .top-btn-wrapper {
  display: flex;
  justify-content: center;
  width: 60px;
  background-color: var(--dark-one);
  position: absolute;
  top: -20px;
  left: 50%;
  border-radius: 50%;
  padding: 0.5rem;
  transition: 0.5s;
}
.footer .container .top-btn-wrapper:hover {
  top: -23px;
}
.footer .container .top-btn-wrapper i {
  font-size: 2rem;
  transform: translateY(-4px);
  color: var(--light-one);
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  padding-bottom: 30px;
}
.copyright .text {
  color: var(--light-one);
}

/* End Footer Styles *//*# sourceMappingURL=style.css.map */