@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap");
/* General Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --light-one: #ffffff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
  --dark-one: #000000;
  --dark-two: #333333;
  --dark-three: #7a7a7a;
  --accent-fill-rest: #3091ff;
  --accent-fill-hover: #2c87ef;
  --main-background-inverse: var(--light-two);
  --main-font-inverse: var(--dark-two);
  --btn-background-primary: var(--light-one);
  --btn-font-primary: var(--dark-one);
  --img-frame: var(--light-three);
}

/* Light Theme Color */
.light {
  --main-background: var(--light-two);
  --main-background-inverse: var(--dark-two);
  --main-font: var(--dark-two);
  --main-font-inverse: var(--light-two);
  --btn-background-primary: var(--dark-one);
  --btn-font-primary: var(--light-one);
  --img-frame: var(--dark-one);
}

/* Dark Theme Color */
.dark {
  --main-background: var(--dark-two);
  --main-background-inverse: var(--light-two);
  --main-font: var(--light-two);
  --main-font-inverse: var(--dark-two);
  --btn-background-primary: var(--light-one);
  --btn-font-primary: var(--dark-one);
  --img-frame: var(--light-three);
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body {
  background: var(--dark-two);
  color: var(--light-two);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  outline: 3px solid var(--img-frame);
}

.container {
  position: relative;
  z-index: 5;
  max-width: 92rem;
  padding: 0 4em;
  margin: 0 auto;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: 400;
}

.text {
  font-size: 1.0625rem;
  font-weight: 400;
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid var(--btn-background-primary);
  background-color: transparent;
  color: var(--main-font);
  border-radius: 0.25rem;
  font-size: 1rem;
}
.btn:hover {
  background-color: var(--btn-background-primary);
  color: var(--main-font-inverse);
}

.section {
  padding: 6em 0;
}

.section-header {
  text-align: left;
  margin-bottom: 1.5em;
}
.section-header .section-title {
  font-family: "Source Code Pro", monospace;
  font-size: 3rem;
  font-weight: 400;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
.section-header .section-title span {
  font-size: 2rem;
}

.btn-container {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.transition {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background-color: var(--dark-two);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;
}

.transition.is-active {
  opacity: 1;
  pointer-events: all;
}

/* End General Styles */
/* Header Styles */
header {
  width: 100%;
  overflow: hidden;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  background-color: var(--dark-two);
  width: 100%;
  z-index: 50;
  transition: 0.3s;
}
nav .container {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
}
nav .logo {
  display: flex;
  align-items: center;
  background-color: var(--dark-one);
}

.nav-links ul {
  display: flex;
  align-items: center;
}
.nav-links a {
  display: inline-block;
  padding: 0.9em 1.2em;
  color: var(--main-font);
  font-family: "Source Code Pro", monospace;
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1;
}
.nav-links a.active, .nav-links a:hover {
  color: var(--accent-fill-hover);
}
.nav-links .social-link {
  font-size: 1.5rem;
}

.header-content .grid-2 {
  grid-template-columns: 4fr 2fr;
  min-height: 100vh;
  padding-bottom: 2.5rem;
  text-align: left;
}
.header-content .column-left {
  margin-right: 1em;
}
.header-content .column-right {
  display: flex;
  justify-content: center;
  margin-left: 2em;
}
.header-content .header-title {
  font-family: "Source Code Pro", monospace;
  font-size: 4rem;
  line-height: 0.8;
  font-weight: 400;
}
.header-content .header-subtitle {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 1em;
}
.header-content .text {
  font-size: 1.25rem;
  margin: 1em 0;
}
.header-content .img-profile {
  width: initial;
  height: 18.75rem;
  opacity: 0.7;
}

/* End Header Styles */
/* Projects Styles */
.projects-body {
  display: flex;
  flex-direction: column;
  row-gap: 6.25rem;
  width: 100%;
  padding: 4em 0;
}
.projects-body .project-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-wrapper {
  display: flex;
  justify-content: flex-end;
}
.card-wrapper .card {
  position: relative;
  max-width: 640px;
  height: inherit;
  background-color: var(--main-background);
  overflow: hidden;
  box-shadow: 0 0 2px black;
}
.card-wrapper .card .card-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Projects Styles */
/* Contact Styles */
.contact {
  position: relative;
  width: 100%;
}

.contact-body {
  padding: 4em 0;
}
.contact-body .grid-2 {
  grid-template-columns: repeat(2, auto);
  align-items: flex-start;
}

.contact-form .input-wrapper {
  display: flex;
  flex-direction: column;
}
.contact-form .input-wrapper label {
  margin-bottom: 0.25em;
}
.contact-form .contact-input {
  padding: 0.5em;
  width: 23.375rem;
  height: 2.25rem;
}
.contact-form .textarea {
  height: 12.75rem;
  resize: none;
}
.contact-form .column-left {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  margin-right: 0.5em;
}
.contact-form .column-right {
  margin-left: 0.5em;
}
.contact-form .btn-submit {
  outline: none;
  margin-top: 1em;
  float: right;
  cursor: pointer;
}

/* End Contact Styles */
/* About Styles */
.about-body {
  position: relative;
  padding: 4em 0;
}
.about-body .text {
  margin-bottom: 1em;
}
.about-body .about-me {
  display: flex;
}
.about-body .about-me p span {
  font-size: 2rem;
}
.about-body .img-about {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.about-body .img-about img {
  width: 9.375rem;
  height: inherit;
}
.about-body .dog-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2em;
}
.about-body .dog-info .grid-2 {
  grid-template-columns: repeat(2, auto);
  align-items: flex-start;
}
.about-body .dog-info .img-milo {
  width: 12.5rem;
  height: inherit;
  -webkit-margin-end: 1em;
          margin-inline-end: 1em;
}
.about-body .dog-info .img-lenny {
  width: 12.5rem;
  height: inherit;
  margin: 0 1em;
}
.about-body .career-info {
  margin-top: 2em;
}
.about-body .career-info p span {
  font-size: 2rem;
}

/* End About Styles */
/* Footer Styles */
.footer {
  position: relative;
  background-color: var(--main-background-inverse);
  height: 8rem;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}
.footer .container .top-btn-wrapper {
  display: flex;
  justify-content: center;
  width: 60px;
  background-color: var(--main-background-inverse);
  position: absolute;
  top: -10px;
  left: 50%;
  border-radius: 50%;
  padding: 0.5em;
  transition: 0.5s;
  transform: translateX(-50%);
}
.footer .container .top-btn-wrapper:hover {
  top: -15px;
}
.footer .container .top-btn-wrapper i {
  font-size: 2rem;
  transform: translateY(-4px);
  color: var(--main-font-inverse);
}
.footer .container .website-info {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2em;
  height: 100%;
}
.footer .container .website-info .text {
  font-size: 0.8125rem;
  color: var(--main-font-inverse);
}
.footer .container .website-info .social-link {
  font-size: 1rem;
  color: var(--main-font-inverse);
  -webkit-margin-start: 0.75rem;
          margin-inline-start: 0.75rem;
}

/* End Footer Styles */
@media screen and (max-width: 83.125em) {
  .projects-body .title {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  .projects-body .grid-2 {
    grid-template-columns: unset;
  }
  .projects-body .grid-2 .project-content {
    order: 2;
    position: relative;
    margin-top: 2rem;
  }
  .projects-body .grid-2 .card-wrapper {
    order: 1;
    justify-content: center;
  }
  .about-body .dog-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .about-body .dog-info .text {
    width: 100%;
  }
  .about-body .dog-info .d2 {
    margin-top: 1em;
  }
}
@media screen and (max-width: 59.375em) {
  .section {
    padding: 0 0 6em 0;
  }
  .header-content .grid-2 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 0;
    grid-template-columns: unset;
  }
  .header-content .column-left {
    order: 2;
  }
  .header-content .header-title {
    font-size: 3rem;
    margin-top: 1em;
  }
  .about-body .about-me {
    flex-direction: column;
  }
  .about-body .about-me .img-about {
    flex-wrap: wrap;
  }
  .about-body .about-me .img-about img {
    width: 9.375rem;
    height: inherit;
  }
  .about-body .dog-info {
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
  }
  .about-body .dog-info .img-milo,
.about-body .dog-info .img-lenny {
    width: 9.375rem;
  }
  .about-body .dog-info .img-lenny {
    margin: 0 1em 0 0;
  }
}
@media screen and (max-width: 51.25em) {
  .contact-body .grid-2 {
    display: flex;
  }
  .contact-body .contact-form .column-left,
.contact-body .contact-form .column-right {
    width: 100%;
  }
  .contact-body .contact-form .contact-input {
    width: 100%;
  }
}
@media screen and (max-width: 49.25em) {
  nav {
    position: static;
  }
  .nav-links {
    display: none;
  }
  .header-content .grid-2 {
    justify-content: flex-start;
    margin-top: 3em;
    min-height: unset;
    margin-bottom: 15.625em;
  }
  .header-content .grid-2 .header-title {
    font-size: 2.5rem;
  }
  .header-content .column-right {
    margin-left: 0;
  }
  .header-content .img-profile {
    height: 16.25rem;
  }
}
@media screen and (max-width: 41.25em) {
  .section-header .section-title {
    font-size: 2rem;
  }
  .section-header .section-title span {
    font-size: 1.5rem;
  }
  .projects-body .card-wrapper .card {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 37.5em) {
  .container {
    padding: 0 1.25em;
  }
  .header-content .column-left {
    margin-right: 0;
  }
  .contact-body .grid-2 {
    flex-direction: column;
  }
  .contact-body .column-right {
    margin-left: 0;
  }
  .about-body .dog-info .grid-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-body .dog-info .text {
    text-align: center;
  }
}
@media screen and (max-width: 24.375em) {
  .text {
    font-size: 0.8125rem;
  }
  .container {
    padding: 0 1.25em;
  }
  .section-header {
    display: flex;
    justify-content: center;
  }
  .section-header .section-title {
    font-size: 2rem;
    text-align: center;
  }
  .header-content .column-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .header-content .column-left .header-title {
    font-size: 2rem;
  }
  .header-content .column-left .header-subtitle {
    font-size: 1.25rem;
  }
  .header-content .column-left .text {
    font-size: 1rem;
  }
  .header-content .column-right {
    margin-left: 0;
  }
  .header-content .column-right .img-profile {
    height: 16.25rem;
  }
  .projects-body .title {
    font-size: 1.5rem;
  }
  .projects-body .card-wrapper .card {
    width: 100%;
    height: initial;
  }
  .contact-body .grid-2 {
    flex-direction: column;
  }
  .contact-body .grid-2 .column-right {
    margin-left: 0;
    margin-top: 1.25em;
  }
  .about.section {
    padding-bottom: 0;
  }
  .about-body .img-about {
    -webkit-margin-end: 0;
            margin-inline-end: 0;
  }
  .about-body .about-me p span {
    font-size: 1.5rem;
  }
  .about-body .dog-info .grid-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-body .career-info {
    margin-top: 1em;
  }
  .about-body .career-info p span {
    font-size: 1.5rem;
  }
  .footer .container .top-btn-wrapper i {
    font-size: 1.25rem;
  }
}/*# sourceMappingURL=style.css.map */