@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');

/* General Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --light-one: #ffffff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
  --light-four: #cacaca;

  --dark-one: #000000;
  --dark-two: #333333;
  --dark-three: #474747;
  --dark-four: #7a7a7a;

  --accent-fill: #8cb4ff;

  --main-background: var(--dark-two);
  --main-background-inverse: var(--light-two);
  --main-font: var(--light-three);
  --main-font-inverse: var(--dark-two);
  --main-background-inverse: var(--light-two);
  --main-font-inverse: var(--dark-two);
  --btn-background-primary: var(--light-one);
  --btn-font-primary: var(--dark-one);
  --img-frame: var(--light-three);

  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --load-duration: 400ms;
}

body,
button,
input,
textarea {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

body {
  background: var(--dark-two);
  color: var(--light-three);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  outline: 1px solid var(--img-frame);
}

.container {
  position: relative;
  z-index: 5;
  max-width: 92rem;
  padding: 0 4em;
  margin: 0 auto;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
}

.text {
  font-size: 1.0625rem;
  font-weight: 400;
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid var(--btn-background-primary);
  background-color: transparent;
  color: var(--main-font);
  border-radius: 0.25rem;
  font-size: 1rem;

  &:hover,
  &:focus {
    background-color: var(--btn-background-primary);
    color: var(--main-font-inverse);
    outline-color: var(--dark-two);
  }
}

.section {
  padding: 6em 0;
}

.section-header {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 1.5em;
  position: relative;

  .section-title {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: clamp(1.625rem, 5vw, 2rem);
  }

  .divider {
    opacity: 0.1;
    width: 100%;
    margin-inline-start: 1em;
  }
}

.btn-container {
  display: flex;
  column-gap: 0.5rem;
}

.transition {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--dark-two);
  opacity: 0;
  pointer-events: none;
  transition: var(--load-duration) var(--easing);
}

.transition.is-active {
  opacity: 1;
  pointer-events: all;
}
/* End General Styles */

/* Header Styles */
header {
  width: 100%;
  overflow: hidden;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  background-color: var(--dark-three);
  width: 100%;
  z-index: 50;
  transition: 0.3s;
  transform: translateY(-100px);
  animation: fadeDownLoad var(--load-duration) var(--easing) 0.4s 1 forwards;

  .container {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    background-color: var(--dark-one);
    max-width: 2.5rem;
  }
}

.nav-links {
  ul {
    display: flex;
    align-items: center;
  }

  a {
    display: inline-block;
    padding: 0.9em 1.2em;
    color: var(--main-font);
    font-family: 'Source Code Pro', monospace;
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 1;

    &.active,
    &:hover {
      color: var(--accent-fill);
    }
  }

  .social-link {
    font-size: 1.5rem;
  }
}

.header-content {
  .grid-2 {
    grid-template-columns: 4fr auto;
    min-height: 100vh;
    padding-bottom: 2.5rem;
    text-align: left;
  }

  .column-left {
    margin-right: 1em;
  }

  .column-right {
    display: flex;
    justify-content: center;
    margin-left: 2em;
  }

  .header-title {
    font-family: 'Source Code Pro', monospace;
    font-size: 4rem;
    line-height: 0.8;
    font-weight: 400;
    opacity: 0;
    animation: fadeUpLoad var(--load-duration) var(--easing) 0.4s 1 forwards;
  }

  .header-subtitle {
    font-size: 2rem;
    line-height: 1.1;
    font-weight: 400;
    margin-top: 1em;
    opacity: 0;
    animation: fadeUpLoad var(--load-duration) var(--easing) 0.5s 1 forwards;
  }

  .header-description {
    opacity: 0;
    animation: fadeUpLoad var(--load-duration) var(--easing) 0.6s 1 forwards;
  }

  .header-btn {
    opacity: 0;
    animation: fadeUpLoad var(--load-duration) var(--easing) 0.7s 1 forwards;
  }

  .text {
    font-size: 1.25rem;
    margin: 1em 0;
  }

  .img-profile {
    width: initial;
    height: 18.75rem;
    opacity: 0.7;
  }
}
/* End Header Styles */

/* Projects Styles */
.projects-section {
  padding-top: 4em;

  .section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;

    .projects-title {
      color: #c2c2c2;
      font-weight: 400;
      margin: 0 1rem;
    }

    .divider {
      opacity: 0.1;
      width: 10%;
      margin-inline-start: 0;
    }
  }

  .projects-body {
    padding: 2em 0;
  }
}

.projects-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  width: 100%;
  padding: 4em 0;

  .project-content {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    height: 21.25rem;
    padding: 0.75em;
    background-color: var(--dark-three);
    border-radius: 0.25rem;
    box-shadow: 0 10px 30px -15px var(--dark-one);
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
      transform: translateY(-0.125rem);
    }

    img {
      outline: 1px solid #000000;
      border-radius: 0.25rem;
    }

    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: var(--main-font);
      height: 100%;
      margin-top: 0.5em;

      .icon-container {
        display: flex;
        column-gap: 4px;
        justify-content: end;

        img {
          border-radius: 0;
          width: 1.25rem;
          height: 1.25rem;
          outline-color: var(--dark-one);
          background-color: var(--dark-two);
        }
      }
    }

    a {
      color: var(--main-font);
      &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0;
      }
    }
  }
}
/* End Projects Styles */

/* Contact Styles */
.contact-body {
  padding: 4em 0;

  .grid-2 {
    grid-template-columns: repeat(2, auto);
    align-items: flex-start;
  }
}

.contact-form {
  .input-wrapper {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 0.25em;
    }
  }

  .contact-input {
    padding: 0.5em;
    width: 23.375rem;
    height: 2.25rem;
  }

  .textarea {
    height: 12.75rem;
    resize: none;
  }

  .column-left {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    margin-right: 0.5em;
  }

  .column-right {
    margin-left: 0.5em;
  }

  .btn-submit {
    outline: none;
    margin-top: 1em;
    float: right;
    cursor: pointer;
  }
}
/* End Contact Styles */

/* About Styles */
.about-body {
  position: relative;
  padding: 4em 0;

  .about-me {
    display: flex;

    .personal-info {
      display: flex;

      .text {
        max-width: 31.25rem;
      }
    }

    p span {
      font-size: 1.5rem;
    }

    .img-about {
      display: flex;
      justify-content: center;
    }

    .img-me {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      max-width: 20rem;
      margin-inline-end: 2rem;

      img {
        width: 9.375rem;
        height: inherit;
      }
    }
  }

  .dog-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .dog {
      display: flex;
      align-items: flex-start;

      .img-milo,
      .img-lenny {
        width: 9.375rem;
        height: inherit;
        margin-inline-end: 1em;
      }

      .text {
        max-width: 250px;
      }
    }
  }

  .career-info {
    margin-top: 2em;

    p span {
      font-size: 1.5rem;
    }
  }
}
/* End About Styles */

/* Footer Styles */
.footer {
  position: relative;
  background-color: var(--dark-three);
  height: 8rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;

    .top-btn-wrapper {
      display: flex;
      justify-content: center;
      width: 60px;
      background-color: var(--dark-three);
      position: absolute;
      top: -10px;
      left: 50%;
      border-radius: 50%;
      padding: 0.5em;
      transition: 0.5s;
      transform: translateX(-50%);

      &:hover {
        top: -15px;
      }

      i {
        font-size: 2rem;
        transform: translateY(-4px);
        color: var(--main-font);
      }
    }

    .website-info {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 2em;
      height: 100%;

      .text {
        font-size: 0.8125rem;
        color: var(--main-font);
      }

      .social-link {
        font-size: 1rem;
        color: var(--main-font);
        margin-inline-start: 0.75rem;
      }
    }
  }
}
/* End Footer Styles */

@media screen and (max-width: 83.125em) {
  .projects-body {
    .grid-2 {
      grid-template-columns: unset;

      .project-content {
        order: 2;
        position: relative;
        margin-top: 2rem;
      }

      .card-wrapper {
        order: 1;
        justify-content: center;
      }
    }
  }

  .about-body .dog-info {
    flex-direction: column;
    align-items: flex-start;

    .text {
      width: 100%;
    }

    .d2 {
      margin-top: 1em;
    }
  }
}

@media screen and (max-width: 59.375em) {
  .section {
    padding: 0 0 6em 0;
  }

  .header-content {
    .grid-2 {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      padding-bottom: 0;
      grid-template-columns: unset;
    }

    .column-left {
      order: 2;
    }

    .header-title {
      font-size: 3rem;
      margin-top: 1em;
    }
  }

  .about-body {
    .about-me {
      .img-about {
        flex-direction: column;
        align-items: center;
      }

      .img-me {
        max-width: unset;
        margin-inline-end: unset;
        justify-content: center;
      }
    }

    .dog-info {
      display: flex;
      flex-direction: column;
      grid-template-columns: unset;
      width: 100%;
      margin-top: 2rem;
    }
  }
}

@media screen and (max-width: 51.25em) {
  .contact-body {
    .grid-2 {
      display: flex;
    }

    .contact-form {
      .column-left,
      .column-right {
        width: 100%;
      }

      .contact-input {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 49.25em) {
  nav {
    position: static;
  }

  .nav-links {
    display: none;
  }

  .header-content {
    .grid-2 {
      justify-content: flex-start;
      margin-top: 3em;
      min-height: unset;
      margin-bottom: 15.625em;

      .header-title {
        font-size: 2.5rem;
      }
    }

    .column-right {
      margin-left: 0;
    }

    .img-profile {
      height: 16.25rem;
    }
  }
}

@media screen and (max-width: 41.25em) {
  .projects-body {
    .card-wrapper .card {
      width: auto;
      height: auto;
    }
  }
}

@media screen and (max-width: 37.5em) {
  .container {
    padding: 0 1.25em;
  }

  .header-content {
    .column-left {
      margin-right: 0;
    }
  }

  .contact-body {
    .grid-2 {
      flex-direction: column;
    }

    .column-right {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 24.375em) {
  .text {
    font-size: 0.8125rem;
  }

  .container {
    padding: 0 1.25em;
  }

  .section-header {
    display: flex;
    justify-content: center;

    .section-title {
      text-align: center;
    }
  }

  .header-content {
    .column-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .header-title {
        font-size: 2rem;
      }

      .header-subtitle {
        font-size: 1.25rem;
      }

      .text {
        font-size: 1rem;
      }
    }

    .column-right {
      margin-left: 0;

      .img-profile {
        height: 16.25rem;
      }
    }
  }

  .projects-body {
    .title {
      font-size: 1.5rem;
    }

    .card-wrapper .card {
      width: 100%;
      height: initial;
    }
  }

  .contact-body {
    .grid-2 {
      flex-direction: column;

      .column-right {
        margin-left: 0;
        margin-top: 1.25em;
      }
    }
  }

  .about {
    &.section {
      padding-bottom: 0;
    }
  }
  .about-body {
    .img-me {
      margin-inline-end: 0;
    }

    .about-me {
      p span {
        font-size: 1.5rem;
      }
    }

    .career-info {
      margin-top: 1em;

      p span {
        font-size: 1.5rem;
      }
    }
  }

  .footer {
    .container {
      .top-btn-wrapper {
        i {
          font-size: 1.25rem;
        }
      }
    }
  }
}

/* Animations */
@keyframes fadeUpLoad {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeDownLoad {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
